*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
background-image: url("https://png.pngtree.com/png-vector/20200531/ourlarge/pngtree-cupcake-illustration-in-icon-drawn-style-png-image_2216376.jpg");
height: 250px;
background-repeat: no-repeat;
background-color: rgb(245, 245, 245);
background-size: 150px;
background-position: left;
display: flex;
flex-direction: column;
align-content: flex-end;
align-items: flex-end;
justify-content: space-between;
padding: 40px;
}


.menu{
    height: 50px;
    background-color: beige;
    width: 50px;
}
.menu_desktop{
    display: none;
}

h2{
    font-size: medium;
    
}
h1{
    margin: 20px 0;
}

.descripcion{
    padding: 0 20px;
}
.pastel{
    width: 100%;
    margin-top: 30px;
}
.cakes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px;
  }
  .cakes img{
    width: 48%;
}
.margin_bottom{
    margin-bottom: 5px;
}
footer{
    background-color: rgb(192, 33, 152);
}
.menu_final{
    padding: 30px;
    list-style: none;
    color: azure;
}
.closing{
    padding-bottom: 10px;
    color: azure;
    text-align: center;
}
  @media (min-width: 500px){
    .pastel{
        margin-right: 30px;
        margin-left: 0%;

    }
    .descripcion {
        display: flex;
        flex-direction: row-reverse;
    }
    .descripcion article {
        
        text-align: center;
    }
    .menu_desktop{
        display: block;
        width: 100%;
    }
.menu_desktop ul{
    display: flex;
    justify-content: flex-end;
    background-color: rgb(192, 33, 152);

}
.menu_desktop li{
    margin: 20px;
    list-style: none;
    background-color: rgb(236, 154, 214);
}
.cakes img{
    width: 24%;
}
.margin_bottom{
    margin: 0;
}
.menu_final{
    display: flex;
    justify-content: center;
}
.menu_final li{
    margin: 20px;
    background-color:  rgb(211, 109, 165) ;
}

  }
  
  /* .cakes{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    width: 100%;
    gap: 5px;
    margin: 30px;
} */
