*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
background-image: url("https://png.pngtree.com/png-vector/20200531/ourlarge/pngtree-cupcake-illustration-in-icon-drawn-style-png-image_2216376.jpg");
height: 250px;
background-repeat: no-repeat;
background-color: rgb(245, 245, 245);
background-size: 150px;
background-position: left;
display: flex;
flex-direction: column;
align-content: flex-end;
align-items: flex-end;
justify-content: space-between;
padding: 40px;
}


.menu{
    height: 50px;
    background-color: beige;
    width: 50px;
    

}

h2{
    font-size: medium;
    
}
h1{
    margin: 20px 0;
}

.descripcion{
    padding: 0 20px;
}
.pastel{
    width: 100%;
    height: 250px;
    margin-top: 30px;
}
.grande {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    width: 600px;
    gap: 5px;
  }
  img {
    width: 300px;
  }